.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 10rem;
    .card{
        flex-grow: 1rem;
        flex-basis: 20rem;

        max-width: 30rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: rgb(25, 25, 25);
        border-radius: 0.5rem;
        color: rgb(241, 236, 236);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            width: 100%;
            border-radius: 0.5rem;
        }
        h1{
            font-weight: 400;
            font-size: 1.5rem;
        }
        .description{
            opacity: 0.7;
            word-spacing: 0.4rem;
            line-height: 1.3;
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;
            .tag{
                background-color: rgb(58, 62, 55);
                width: fit-content;

                padding-inline: 1.25rem;
                padding-block: 0.65rem;
                border-radius: 0.75rem;

                white-space: nowrap;
                

            }
        }
    }
}