.window {
    height: 500px;
    width: 700px;
    background-color: rgba(46, 45, 45, 0.745);
    border-radius: 0.75rem;
    overflow: hidden;
    color: rgb(179, 174, 174);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

    .dots {
        display: flex;
        gap: 0.25rem;

        .dot {
            height: 15px;
            width: 15px;
            background-color: #fff;
            border-radius: 50%;
        }
        .red{
            background-color: rgb(233, 46, 46);
        }
        .yellow{
            background-color: yellow;
        }
        .green{
            background-color: green;
        }
    }
    

}