.Dock {
    display: flex;
    gap: 0.75rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(66, 66, 66, 0.367);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    backdrop-filter: blur(5px);

    .icon {
        padding: 0.65rem;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 3.75rem;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    }

    .github,.cli {
        background-color: rgba(0, 0, 0, 0.114);
    }

    .note {
        background: linear-gradient(to bottom,
                rgb(255, 179, 87),
                rgb(255, 153, 28));
    }

    .pdf {
        background: linear-gradient(to bottom right,
                #ff6b6b,
                #c1121f);
    }

    .calender,
    .mail {
        background: linear-gradient(to bottom right,
                #ff6b6b,
                #c1121f);
    }

    .spotify {
        background: linear-gradient(to bottom right, #1db954, #128c3f);
    }

    .link {
        background: linear-gradient(to bottom right, #4facfe, #00c6ff);
    }
    .icon:hover{
        transform: scale(1.2) translateY(-20%);
    }
    .icon:hover+.icon,
    .icon:has(+.icon:hover){
        transform: scale(1.1) translateY(-10%);
    }

}